<div class="row">
  <div class="container">
    <div class="about-page">
      <address>
        <strong> FlyAwayFromHere Inc. </strong><br>
        E13th St, Apt #3A <br>
        New York, NY 10003 <br>
        <abbr title="Phone">Phone:</abbr> (212) 363-0855
      </address>

      <address>
        <strong>Jeffrey Wan, Aviator</strong><br>
        <a href="mailto:#">Jwan622@gmail.com</a>
      </address>
    </div>
  </div>
</div>
