---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/qpxExpress/v1/trips/search?key=AIzaSyCmR3vntK1uTkkvDVdbu288o2kxZ_shJt8
    body:
      encoding: UTF-8
      string: '{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"NYC","destination":"LAS","date":"2015-04-08","maxStops":0},{"origin":"LAS","destination":"NYC","date":"2015-04-23","maxStops":0}],"maxPrice":"USD500","solutions":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"pE4Ij-sDT0oqs3CLaXHFAmNlZKw/xdSHMylyy-sK-4Blw4slW6H8Uwg"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "qpxExpress#tripsSearch",
         "trips": {
          "kind": "qpxexpress#tripOptions",
          "requestId": "BRLtkpmpOfoyly4AG0LmRW",
          "data": {
           "kind": "qpxexpress#data",
           "airport": [
            {
             "kind": "qpxexpress#airportData",
             "code": "JFK",
             "city": "NYC",
             "name": "New York John F Kennedy International"
            },
            {
             "kind": "qpxexpress#airportData",
             "code": "LAS",
             "city": "LAS",
             "name": "Las Vegas McCarran International"
            }
           ],
           "city": [
            {
             "kind": "qpxexpress#cityData",
             "code": "LAS",
             "name": "Las Vegas"
            },
            {
             "kind": "qpxexpress#cityData",
             "code": "NYC",
             "name": "New York"
            }
           ],
           "aircraft": [
            {
             "kind": "qpxexpress#aircraftData",
             "code": "738",
             "name": "Boeing 737"
            }
           ],
           "tax": [
            {
             "kind": "qpxexpress#taxData",
             "id": "ZP",
             "name": "US Flight Segment Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "XF",
             "name": "US Passenger Facility Charge"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "US_001",
             "name": "US Transportation Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "AY_001",
             "name": "US September 11th Security Fee"
            }
           ],
           "carrier": [
            {
             "kind": "qpxexpress#carrierData",
             "code": "US",
             "name": "US Airways, Inc."
            }
           ]
          },
          "tripOption": [
           {
            "kind": "qpxexpress#tripOption",
            "saleTotal": "USD379.20",
            "id": "Ir2s9CaCezKSSQOCe4O4yU001",
            "slice": [
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 344,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 344,
                "flight": {
                 "carrier": "US",
                 "number": "1263"
                },
                "id": "GOsCmWBWRKAsVcqB",
                "cabin": "COACH",
                "bookingCode": "S",
                "bookingCodeCount": 7,
                "marriedSegmentGroup": "0",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "LUy79jvBmci68n5h",
                  "aircraft": "738",
                  "arrivalTime": "2015-04-08T09:59-07:00",
                  "departureTime": "2015-04-08T07:15-04:00",
                  "origin": "JFK",
                  "destination": "LAS",
                  "originTerminal": "8",
                  "destinationTerminal": "1",
                  "duration": 344,
                  "operatingDisclosure": "OPERATED BY AMERICAN AIRLINES INC.",
                  "mileage": 2241,
                  "meal": "Food for Purchase",
                  "secure": true
                 }
                ]
               }
              ]
             },
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 311,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 311,
                "flight": {
                 "carrier": "US",
                 "number": "120"
                },
                "id": "GxC-XwNP14Ne2YJ+",
                "cabin": "COACH",
                "bookingCode": "Q",
                "bookingCodeCount": 7,
                "marriedSegmentGroup": "1",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "LzM+YWz4NJ+0jJ9q",
                  "aircraft": "738",
                  "arrivalTime": "2015-04-23T19:06-04:00",
                  "departureTime": "2015-04-23T10:55-07:00",
                  "origin": "LAS",
                  "destination": "JFK",
                  "originTerminal": "1",
                  "destinationTerminal": "8",
                  "duration": 311,
                  "operatingDisclosure": "OPERATED BY AMERICAN AIRLINES INC.",
                  "mileage": 2241,
                  "meal": "Food for Purchase",
                  "secure": true
                 }
                ]
               }
              ]
             }
            ],
            "pricing": [
             {
              "kind": "qpxexpress#pricingInfo",
              "fare": [
               {
                "kind": "qpxexpress#fareInfo",
                "id": "APmqN++jmHbvtvTqTcy+blBm7AdFXT1kqtE3VXWgLHHI",
                "carrier": "US",
                "origin": "NYC",
                "destination": "LAS",
                "basisCode": "SA21ZNJ3"
               },
               {
                "kind": "qpxexpress#fareInfo",
                "id": "AW3GgiXY7OwWs3+Xai+44t8yY3Dl1q2XkOEYdeaG2BhU",
                "carrier": "US",
                "origin": "LAS",
                "destination": "NYC",
                "basisCode": "QA14ZSJ3"
               }
              ],
              "segmentPricing": [
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "AW3GgiXY7OwWs3+Xai+44t8yY3Dl1q2XkOEYdeaG2BhU",
                "segmentId": "GxC-XwNP14Ne2YJ+",
                "freeBaggageOption": [
                 {
                  "kind": "qpxexpress#freeBaggageAllowance",
                  "bagDescriptor": [
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "ASSISTIVE DEVICES",
                    "count": 0,
                    "subcode": "0GM"
                   },
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "INFANT CAR SEAT",
                    "count": 0,
                    "description": [
                     "Infant Car Seat"
                    ],
                    "subcode": "0G5"
                   },
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "STROLLER OR PUSHCHAIR",
                    "count": 0,
                    "description": [
                     "Stroller/Pushchair"
                    ],
                    "subcode": "0F4"
                   }
                  ],
                  "pieces": 0
                 }
                ]
               },
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "APmqN++jmHbvtvTqTcy+blBm7AdFXT1kqtE3VXWgLHHI",
                "segmentId": "GOsCmWBWRKAsVcqB",
                "freeBaggageOption": [
                 {
                  "kind": "qpxexpress#freeBaggageAllowance",
                  "bagDescriptor": [
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "ASSISTIVE DEVICES",
                    "count": 0,
                    "subcode": "0GM"
                   },
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "INFANT CAR SEAT",
                    "count": 0,
                    "description": [
                     "Infant Car Seat"
                    ],
                    "subcode": "0G5"
                   },
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "STROLLER OR PUSHCHAIR",
                    "count": 0,
                    "description": [
                     "Stroller/Pushchair"
                    ],
                    "subcode": "0F4"
                   }
                  ],
                  "pieces": 0
                 }
                ]
               }
              ],
              "baseFareTotal": "USD326.51",
              "saleFareTotal": "USD326.51",
              "saleTaxTotal": "USD52.69",
              "saleTotal": "USD379.20",
              "passengers": {
               "kind": "qpxexpress#passengerCounts",
               "adultCount": 1
              },
              "tax": [
               {
                "kind": "qpxexpress#taxInfo",
                "id": "US_001",
                "chargeType": "GOVERNMENT",
                "code": "US",
                "country": "US",
                "salePrice": "USD24.49"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "AY_001",
                "chargeType": "GOVERNMENT",
                "code": "AY",
                "country": "US",
                "salePrice": "USD11.20"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "XF",
                "chargeType": "GOVERNMENT",
                "code": "XF",
                "country": "US",
                "salePrice": "USD9.00"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "ZP",
                "chargeType": "GOVERNMENT",
                "code": "ZP",
                "country": "US",
                "salePrice": "USD8.00"
               }
              ],
              "fareCalculation": "JFK US LAS 164.65SA21ZNJ3 US JFK 161.86QA14ZSJ3 USD 326.51 END ZP JFK LAS XT 24.49US 8.00ZP 11.20AY 9.00XF JFK4.50 LAS4.50",
              "latestTicketingTime": "2015-03-18T23:59-04:00",
              "ptc": "ADT"
             }
            ]
           }
          ]
         }
        }
  recorded_at: Thu, 19 Mar 2015 02:26:34 GMT
[...]
{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"NYC","destination":"NYC","date":"2015-04-08","maxStops":0},{"origin":"NYC","destination":"NYC","date":"2015-04-23","maxStops":0}],"maxPrice":"USD500","solutions":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"pE4Ij-sDT0oqs3CLaXHFAmNlZKw/3_aj0Au4R2r3uwnoiiIzjNUrJYo"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=0.5
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "qpxExpress#tripsSearch",
         "trips": {
          "kind": "qpxexpress#tripOptions",
          "requestId": "MjONwos1ztcCzv6dJ0LmRW",
          "data": {
           "kind": "qpxexpress#data"
          }
         }
        }
  recorded_at: Thu, 19 Mar 2015 02:26:36 GMT
recorded_with: VCR 2.9.3
