---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/qpxExpress/v1/trips/search?key=AIzaSyCmR3vntK1uTkkvDVdbu288o2kxZ_shJt8
    body:
      encoding: UTF-8
      string: '{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"LAS","destination":"NYC","date":"2016-02-28","maxStops":0},{"origin":"NYC","destination":"LAS","date":"2016-03-13","maxStops":0}],"maxPrice":"USD4000","solutions":8}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"pE4Ij-sDT0oqs3CLaXHFAmNlZKw/AwYK-eEpxxmttCO_Xid0cLYSU64"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "qpxExpress#tripsSearch",
         "trips": {
          "kind": "qpxexpress#tripOptions",
          "requestId": "OQH3b4inV6UkEsmBK0NZbt",
          "data": {
           "kind": "qpxexpress#data",
           "airport": [
            {
             "kind": "qpxexpress#airportData",
             "code": "EWR",
             "city": "EWR",
             "name": "Newark Liberty International"
            },
            {
             "kind": "qpxexpress#airportData",
             "code": "LAS",
             "city": "LAS",
             "name": "Las Vegas McCarran International"
            }
           ],
           "city": [
            {
             "kind": "qpxexpress#cityData",
             "code": "EWR",
             "name": "Newark"
            },
            {
             "kind": "qpxexpress#cityData",
             "code": "LAS",
             "name": "Las Vegas"
            }
           ],
           "aircraft": [
            {
             "kind": "qpxexpress#aircraftData",
             "code": "320",
             "name": "Airbus A320"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "738",
             "name": "Boeing 737"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "739",
             "name": "Boeing 737"
            }
           ],
           "tax": [
            {
             "kind": "qpxexpress#taxData",
             "id": "ZP",
             "name": "US Flight Segment Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "AY_001",
             "name": "US September 11th Security Fee"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "US_001",
             "name": "US Transportation Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "XF",
             "name": "US Passenger Facility Charge"
            }
           ],
           "carrier": [
            {
             "kind": "qpxexpress#carrierData",
             "code": "UA",
             "name": "United Airlines, Inc."
            }
           ]
          },
          "tripOption": [
           {
            "kind": "qpxexpress#tripOption",
            "saleTotal": "USD370.20",
            "id": "ZKYAvP30EJ4PPEvLXBC3w9002",
            "slice": [
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 285,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 285,
                "flight": {
                 "carrier": "UA",
                 "number": "1295"
                },
                "id": "GM1bZquUGkHqZooM",
                "cabin": "COACH",
                "bookingCode": "T",
                "bookingCodeCount": 9,
                "marriedSegmentGroup": "0",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "LLVg3TKTrUjxV5Tu",
                  "aircraft": "320",
                  "arrivalTime": "2016-02-28T13:46-05:00",
                  "departureTime": "2016-02-28T06:01-08:00",
                  "origin": "LAS",
                  "destination": "EWR",
                  "originTerminal": "3",
                  "destinationTerminal": "C",
                  "duration": 285,
                  "mileage": 2221,
                  "meal": "Food for Purchase",
                  "secure": true
                 }
                ]
               }
              ]
             },
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 346,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 346,
                "flight": {
                 "carrier": "UA",
                 "number": "567"
                },
                "id": "GVgdV8btdwryAwoD",
                "cabin": "COACH",
                "bookingCode": "N",
                "bookingCodeCount": 6,
                "marriedSegmentGroup": "1",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "LjnTExaICXCqxrY8",
                  "aircraft": "738",
                  "arrivalTime": "2016-03-13T09:37-07:00",
                  "departureTime": "2016-03-13T06:51-04:00",
                  "origin": "EWR",
                  "destination": "LAS",
                  "originTerminal": "C",
                  "destinationTerminal": "3",
                  "duration": 346,
                  "mileage": 2221,
                  "meal": "Food for Purchase",
                  "secure": true
                 }
                ]
               }
              ]
             }
            ],
            "pricing": [
             {
              "kind": "qpxexpress#pricingInfo",
              "fare": [
               {
                "kind": "qpxexpress#fareInfo",
                "id": "ASbiYptlLq/ggUXk+ULVwy5/MRApd9sZNyZfNYh5d6L/",
                "carrier": "UA",
                "origin": "LAS",
                "destination": "EWR",
                "basisCode": "TAA14AHN"
               },
               {
                "kind": "qpxexpress#fareInfo",
                "id": "Add083T+r8GboPJtadWF8v2OB+CnKmg1l+eUA7+1sXAM",
                "carrier": "UA",
                "origin": "EWR",
                "destination": "LAS",
                "basisCode": "NAA21AKN"
               }
              ],
              "segmentPricing": [
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "ASbiYptlLq/ggUXk+ULVwy5/MRApd9sZNyZfNYh5d6L/",
                "segmentId": "GM1bZquUGkHqZooM"
               },
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "Add083T+r8GboPJtadWF8v2OB+CnKmg1l+eUA7+1sXAM",
                "segmentId": "GVgdV8btdwryAwoD"
               }
              ],
              "baseFareTotal": "USD318.14",
              "saleFareTotal": "USD318.14",
              "saleTaxTotal": "USD52.06",
              "saleTotal": "USD370.20",
              "passengers": {
               "kind": "qpxexpress#passengerCounts",
               "adultCount": 1
              },
              "tax": [
               {
                "kind": "qpxexpress#taxInfo",
                "id": "US_001",
                "chargeType": "GOVERNMENT",
                "code": "US",
                "country": "US",
                "salePrice": "USD23.86"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "AY_001",
                "chargeType": "GOVERNMENT",
                "code": "AY",
                "country": "US",
                "salePrice": "USD11.20"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "XF",
                "chargeType": "GOVERNMENT",
                "code": "XF",
                "country": "US",
                "salePrice": "USD9.00"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "ZP",
                "chargeType": "GOVERNMENT",
                "code": "ZP",
                "country": "US",
                "salePrice": "USD8.00"
               }
              ],
              "fareCalculation": "LAS UA EWR Q27.91 191.63TAA14AHN UA LAS 98.60NAA21AKN USD 318.14 END ZP LAS EWR XT 23.86US 8.00ZP 11.20AY 9.00XF LAS4.50 EWR4.50",
              "latestTicketingTime": "2016-01-10T23:59-05:00",
              "ptc": "ADT"
             }
            ]
           },
           {
            "kind": "qpxexpress#tripOption",
            "saleTotal": "USD370.20",
            "id": "ZKYAvP30EJ4PPEvLXBC3w9006",
            "slice": [
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 294,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 294,
                "flight": {
                 "carrier": "UA",
   [...]
[...]
