---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/qpxExpress/v1/trips/search?key=AIzaSyCmR3vntK1uTkkvDVdbu288o2kxZ_shJt8
    body:
      encoding: UTF-8
      string: '{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"LAS","destination":"NYC","date":"2015-03-28","maxStops":0},{"origin":"NYC","destination":"LAS","date":"2015-04-13","maxStops":0}],"maxPrice":"USD4000","solutions":8}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "badRequest",
            "message": "Invalid inputs for request id \"hPi4iUZIrqTFQdVzw0McJD\": QPX Warning.  Latest departure time of first slice (2015-03-29T06:59 UTC) is in the past or is incompatible with the prior slice arrival time and the requested minimum travel time."
           }
          ],
          "code": 400,
          "message": "Invalid inputs for request id \"hPi4iUZIrqTFQdVzw0McJD\": QPX Warning.  Latest departure time of first slice (2015-03-29T06:59 UTC) is in the past or is incompatible with the prior slice arrival time and the requested minimum travel time."
         }
        }
  recorded_at: Tue, 04 Aug 2015 13:19:54 GMT
[...]
{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"LAS","destination":"NYC","date":"2015-09-28","maxStops":0},{"origin":"NYC","destination":"LAS","date":"2015-09-13","maxStops":0}],"maxPrice":"USD4000","solutions":8}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "badRequest",
            "message": "Invalid inputs for request id \"C6gM08mgoNWlGYWYD0McJE\": Input error for \"tripOptions\" (search), \"x.slices[1].date\" cannot be \"2015-09-13\": slice dates out of order: 2015-09-13 is before 2015-09-28."
           }
          ],
          "code": 400,
          "message": "Invalid inputs for request id \"C6gM08mgoNWlGYWYD0McJE\": Input error for \"tripOptions\" (search), \"x.slices[1].date\" cannot be \"2015-09-13\": slice dates out of order: 2015-09-13 is before 2015-09-28."
         }
        }
  recorded_at: Tue, 04 Aug 2015 13:20:11 GMT
[...]
{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"LAS","destination":"NYC","date":"2015-08-28","maxStops":0},{"origin":"NYC","destination":"LAS","date":"2015-09-13","maxStops":0}],"maxPrice":"USD4000","solutions":8}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"pE4Ij-sDT0oqs3CLaXHFAmNlZKw/Eqh3SuQeP40Bi0yQTm3fEQDjniA"'
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "qpxExpress#tripsSearch",
         "trips": {
          "kind": "qpxexpress#tripOptions",
          "requestId": "nISpHH4XMu6iiY58D0McJE",
          "data": {
           "kind": "qpxexpress#data",
           "airport": [
            {
             "kind": "qpxexpress#airportData",
             "code": "EWR",
             "city": "EWR",
             "name": "Newark Liberty International"
            },
            {
             "kind": "qpxexpress#airportData",
             "code": "JFK",
             "city": "NYC",
             "name": "New York John F Kennedy International"
            },
            {
             "kind": "qpxexpress#airportData",
             "code": "LAS",
             "city": "LAS",
             "name": "Las Vegas McCarran International"
            }
           ],
           "city": [
            {
             "kind": "qpxexpress#cityData",
             "code": "EWR",
             "name": "Newark"
            },
            {
             "kind": "qpxexpress#cityData",
             "code": "LAS",
             "name": "Las Vegas"
            },
            {
             "kind": "qpxexpress#cityData",
             "code": "NYC",
             "name": "New York"
            }
           ],
           "aircraft": [
            {
             "kind": "qpxexpress#aircraftData",
             "code": "320",
             "name": "Airbus A320"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "321",
             "name": "Airbus A321"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "738",
             "name": "Boeing 737"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "739",
             "name": "Boeing 737"
            },
            {
             "kind": "qpxexpress#aircraftData",
             "code": "753",
             "name": "Boeing 757"
            }
           ],
           "tax": [
            {
             "kind": "qpxexpress#taxData",
             "id": "ZP",
             "name": "US Flight Segment Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "AY_001",
             "name": "US September 11th Security Fee"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "US_001",
             "name": "US Transportation Tax"
            },
            {
             "kind": "qpxexpress#taxData",
             "id": "XF",
             "name": "US Passenger Facility Charge"
            }
           ],
           "carrier": [
            {
             "kind": "qpxexpress#carrierData",
             "code": "B6",
             "name": "Jetblue Airways Corporation"
            },
            {
             "kind": "qpxexpress#carrierData",
             "code": "UA",
             "name": "United Airlines, Inc."
            },
            {
             "kind": "qpxexpress#carrierData",
             "code": "US",
             "name": "US Airways, Inc."
            }
           ]
          },
          "tripOption": [
           {
            "kind": "qpxexpress#tripOption",
            "saleTotal": "USD404.20",
            "id": "92JExqGyFT0OugVtoLPQeJ001",
            "slice": [
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 314,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 314,
                "flight": {
                 "carrier": "B6",
                 "number": "748"
                },
                "id": "GYUOgEUco2s-YmT4",
                "cabin": "COACH",
                "bookingCode": "Z",
                "bookingCodeCount": 4,
                "marriedSegmentGroup": "0",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "Lng8bWkCHj0v11Zq",
                  "aircraft": "320",
                  "arrivalTime": "2015-08-28T21:51-04:00",
                  "departureTime": "2015-08-28T13:37-07:00",
                  "origin": "LAS",
                  "destination": "JFK",
                  "originTerminal": "3",
                  "destinationTerminal": "5",
                  "duration": 314,
                  "onTimePerformance": 60,
                  "mileage": 2241,
                  "secure": true
                 }
                ]
               }
              ]
             },
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 345,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 345,
                "flight": {
                 "carrier": "B6",
                 "number": "611"
                },
                "id": "GjQ7utggpa-WALbF",
                "cabin": "COACH",
                "bookingCode": "U",
                "bookingCodeCount": 7,
                "marriedSegmentGroup": "1",
                "leg": [
                 {
                  "kind": "qpxexpress#legInfo",
                  "id": "L9vz65hR1Jdq45d0",
                  "aircraft": "320",
                  "arrivalTime": "2015-09-13T23:08-07:00",
                  "departureTime": "2015-09-13T20:23-04:00",
                  "origin": "JFK",
                  "destination": "LAS",
                  "originTerminal": "5",
                  "destinationTerminal": "3",
                  "duration": 345,
                  "onTimePerformance": 80,
                  "mileage": 2241,
                  "secure": true
                 }
                ]
               }
              ]
             }
            ],
            "pricing": [
             {
              "kind": "qpxexpress#pricingInfo",
              "fare": [
               {
                "kind": "qpxexpress#fareInfo",
                "id": "AgR//gXxz3yuoI0SJfXbVAV8o2WFHx6dj7nv/+PXY2e34/qWjE/cSdgndOf2tH62O55Hp9qKqj/xIk0gLh/40x6fTbY6znQpOMm+w/9SKS320/pZ1KnfpaTwCQOX9BVA+5/Cr9V7bIHfAKo",
                "carrier": "B6",
                "origin": "LAS",
                "destination": "NYC",
                "basisCode": "ZH2AUEN5",
                "private": true
               },
               {
                "kind": "qpxexpress#fareInfo",
                "id": "ACpurcUwHPuTsJHFihC3lLum16SGOT3Vsm6aPVhUQG752rYnZY8d8ndmajn5FFcJEr4FPBty1XRjHNNnXqS9xfDAW0KO1GwPPT0q1gfnivjwU4buOB9TOE8Q/eA/EXQR1P0ij6EGmIEUmSo",
                "carrier": "B6",
                "origin": "NYC",
                "destination": "LAS",
                "basisCode": "UH2AUEN5",
                "private": true
               }
              ],
              "segmentPricing": [
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "ACpurcUwHPuTsJHFihC3lLum16SGOT3Vsm6aPVhUQG752rYnZY8d8ndmajn5FFcJEr4FPBty1XRjHNNnXqS9xfDAW0KO1GwPPT0q1gfnivjwU4buOB9TOE8Q/eA/EXQR1P0ij6EGmIEUmSo",
                "segmentId": "GjQ7utggpa-WALbF",
                "freeBaggageOption": [
                 {
                  "kind": "qpxexpress#freeBaggageAllowance",
                  "bagDescriptor": [
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "UPTO50LB 23KG AND62LI 158LCM",
                    "count": 1,
                    "description": [
                     "Up to 50 lb/23 kg",
                     "Up to 62 li/158 lcm"
                    ],
                    "subcode": "0GO"
                   }
                  ],
                  "pieces": 0
                 }
                ]
               },
               {
                "kind": "qpxexpress#segmentPricing",
                "fareId": "AgR//gXxz3yuoI0SJfXbVAV8o2WFHx6dj7nv/+PXY2e34/qWjE/cSdgndOf2tH62O55Hp9qKqj/xIk0gLh/40x6fTbY6znQpOMm+w/9SKS320/pZ1KnfpaTwCQOX9BVA+5/Cr9V7bIHfAKo",
                "segmentId": "GYUOgEUco2s-YmT4",
                "freeBaggageOption": [
                 {
                  "kind": "qpxexpress#freeBaggageAllowance",
                  "bagDescriptor": [
                   {
                    "kind": "qpxexpress#bagDescriptor",
                    "commercialName": "UPTO50LB 23KG AND62LI 158LCM",
                    "count": 1,
                    "description": [
                     "Up to 50 lb/23 kg",
                     "Up to 62 li/158 lcm"
                    ],
                    "subcode": "0GO"
                   }
                  ],
                  "pieces": 0
                 }
                ]
               }
              ],
              "baseFareTotal": "USD349.77",
              "saleFareTotal": "USD349.77",
              "saleTaxTotal": "USD54.43",
              "saleTotal": "USD404.20",
              "passengers": {
               "kind": "qpxexpress#passengerCounts",
               "adultCount": 1
              },
              "tax": [
               {
                "kind": "qpxexpress#taxInfo",
                "id": "US_001",
                "chargeType": "GOVERNMENT",
                "code": "US",
                "country": "US",
                "salePrice": "USD26.23"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "AY_001",
                "chargeType": "GOVERNMENT",
                "code": "AY",
                "country": "US",
                "salePrice": "USD11.20"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "XF",
                "chargeType": "GOVERNMENT",
                "code": "XF",
                "country": "US",
                "salePrice": "USD9.00"
               },
               {
                "kind": "qpxexpress#taxInfo",
                "id": "ZP",
                "chargeType": "GOVERNMENT",
                "code": "ZP",
                "country": "US",
                "salePrice": "USD8.00"
               }
              ],
              "fareCalculation": "LAS B6 NYC 197.21ZH2AUEN5 B6 LAS 152.56UH2AUEN5 USD 349.77 END ZP LAS JFK XT 26.23US 8.00ZP 11.20AY 9.00XF LAS4.50 JFK4.50",
              "latestTicketingTime": "2015-08-05T23:59-04:00",
              "ptc": "ADT"
             }
            ]
           },
           {
            "kind": "qpxexpress#tripOption",
            "saleTotal": "USD404.20",
            "id": "92JExqGyFT0OugVtoLPQeJ003",
            "slice": [
             {
              "kind": "qpxexpress#sliceInfo",
              "duration": 300,
              "segment": [
               {
                "kind": "qpxexpress#segmentInfo",
                "duration": 300,
                "flight": {
                 "carrier": "B6",
   [...]
[...]
{"request":{"passengers":{"adultCount":1,"infantInLapCount":0,"seniorCount":0},"slice":[{"origin":"LAS","destination":"NYC","date":"2015-03-28","maxStops":0},{"origin":"NYC","destination":"LAS","date":"2015-04-13","maxStops":0}],"maxPrice":"USD4000","solutions":8}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "badRequest",
            "message": "Invalid inputs for request id \"WYXpe9uWzuMVHTurX0NZZp\": QPX Warning.  Latest departure time of first slice (2015-03-29T06:59 UTC) is in the past or is incompatible with the prior slice arrival time and the requested minimum travel time."
           }
          ],
          "code": 400,
          "message": "Invalid inputs for request id \"WYXpe9uWzuMVHTurX0NZZp\": QPX Warning.  Latest departure time of first slice (2015-03-29T06:59 UTC) is in the past or is incompatible with the prior slice arrival time and the requested minimum travel time."
         }
        }
  recorded_at: Sat, 09 Jan 2016 18:25:06 GMT
recorded_with: VCR 2.9.3
