<div id="visible-filters" class="trip-filters">
  <p> Trip Filters </p>
  <% @trips.each do |trip| %>
    <% if params[:category] == trip.arrival_city %>
      <%= check_box :trip, trip.arrival_city, {checked: true} %> <%= trip.arrival_city %><br/>
    <% else %>
      <%= check_box :trip, trip.arrival_city %> <%= trip.arrival_city %><br/>
    <% end %>
  <% end %>
  <br/>
</div>
