// body
body {
  background-color: #b6e2f9;
  background-image: url(/assets/clouds2.jpeg);
  background-repeat: no-repeat;
  background-size: 110%;
  color: #093D5E;
  font-family: 'Titillium Web', sans-serif;
}

.main-body {
  margin-top: 60px;
  margin-bottom: 100px;
  min-height: 100vh;
}

// footer
footer {
  background: rgba(50, 140, 220, .5);
  border-top: 1px solid #eaeaea;
  bottom: 0;
  height: 60px;
  padding: 15px;
  position: relative;
  width: 100%;

  a {
    color: #894355;
    font-size: 1.3em;
    margin-right: 15px;
    }

  &:hover {
    color: #222;
  }

  small {
    float: left;
    font-size: 0.9em;
  }

  ul {
    float: right;
    text-decoration: underline;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// trips
.trips-table {
  background: rgba(50, 120, 200, .4);
  margin-top: 4%;
  padding: 5%;
}

// welcome page
h2 {
  background: rgba(170,180,220, 0.7);
  border-radius: 20px;
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
  margin: 40px auto;
  width: 460px;

}

.button-row {
  position: relative;
  display: inline;
}

.traveler-type {
  border-radius: 18px;
  font-size: 2.4em;
  margin: 2%;
  padding: 5px 18px;
}

.divider-vertical {
  height: 65px;
  margin: -5px 2px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}

.tell-button {
  margin-top: 2%;
}

// planner mid row
.praise-row {
  background: rgba(220,220,235,0.9);
  width: 109%;
  min-height: 102px;
  padding: 14px;
  position: relative;
  margin-right: 20px;
  margin-left: -4%;
}

.praise-text {
  font-size: 18px;
  line-height: 23px;
  min-height: 89px;
  vertical-align: middle;
}

.praise-quote {
  color: #667;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 270px;
  height: 135px;
  margin: 0 161px;
  padding: 0 25px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

.praise-time-logo {
  background-image: url(/assets/time.png);
  background-size: 100px;
  background-repeat: no-repeat;
  margin-top: 11px;
  margin-left: 45px;
  width: 130px;
  height: 38px;
}

.praise-forbes-logo {
  background-image: url(/assets/cosmo-logo.jpg);
  background-size: 150px;
  background-repeat: no-repeat;
  margin-top:11px;
  margin-left: 35px;
  width: 160px;
  height: 38px;
}

.front-page-divider {
  margin: 40px 30px 40px 20px;
  max-width: 1275px;
  border-bottom: 1px solid rgb(140,40,40);
}

.fa-heart-o {
  position: absolute;
  margin-left: 46%;
  margin-bottom: 9%;
}

// welcome bottom

.welcome-bottom {
  margin-top: 55px;
}



// navbar
.nav-row {
  margin-right: -4%;
  margin-left: -1%;
  margin-top: 5px;
}

.nav-link {
  font-size: 16px;
  margin-bottom: 8px;
  margin-right: 5px;
  &:hover {
    color: white !important;
  }
}

.navbar {
  background-color: #093d5e;
  opacity: 0.8;
  color: white;
  font-size: 1.3em;
}

.brand {
  margin: -14px;
}

// plan

.planner {
  background: rgba(50, 140, 220, .6);
  border-radius: 20px;
  font-size: 2.3em;
  font-weight: 300;
  width: 650px;
  margin: 0 auto;
  margin-bottom: 221px;
  padding: 2% 3%;
  margin-top: 3 0px;
  text-align: left;
}

.message {
  font-size: 1.2em;
  text-align: center;
}

.plan-lines {
  margin: 0% 2%;
  margin-left: 40px;
}

.plan-label {
  font-size: 24px;
  width: 390px;
}

.plan-button {
  background: rgb(30,140,180);
  color: rgb(30,20,70);
  margin-top: 20px;
  margin-left: 400px;
  padding: 4px;
  font-size: 20px;

}
// Itinerary-bar
.itinerary-underline {
  text-decoration: underline;
}

.complete-itinerary {
  background-color: #faddd1;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 6px;
  text-align: center;
  width: 100%;
}

// flash messages

.flash-error {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.flash-alert {
  color: #ff0000;
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
}

.flash-notice {
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}

.flash-success {
  text-align: center;
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
}

// about
.about-page {
  background: rgba(50, 140, 220, .5);
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin: auto;
  margin-top: 2%;
  min-height: 20px;
  padding: 3%;
  text-align: center;
  width: 23%;
}
