<footer class="footer">
  <small>
    FlyAwayFromHere is a travel ideas and booking site created by Jeffrey Wan.
    It has no affiliation with the 90s rock band AeroSmith.
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_path %>
    </ul>
  </nav>
</footer>
