
<div class="row praise-row">
    <div class="col-sm-3 col-sm-offset-2">
      <div class="praise-text">
      "Jeff Wan has truly outdone himself in the design world. Look how off-center this font is with the logo beneath. So bold."
      </div>

      <div class="praise-time-logo"></div>

    </div>

    <i class="col-sm-1 fa fa-heart-o fa-3x"></i>

    <div class="col-sm-3">
      <div class="praise-text">
        "Who is this new designer by the name of Jeff Wan. One has to ask... is he for real?"
      </div>

      <div class="praise-cosmo-logo"></div>

    </div>
</div>

<div class="front-page-divider">

</div>
